@media (min-width: 480px), screen and (orientation: portrait){
    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 0.33fr);
        text-decoration: underline;
        padding-left: 45%;
    }
}

*{
    font-family: 'Roboto', sans-serif;
}

/* unvisited links default black */
a:link{
    color: #000000
}

/* visited links turn red */
a:visited{
    color: red
}


#giga{
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

main section ul {
    background-color: white;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

input ~ label {
    color: gray
}

input + label {
    display: flex;
    flex-direction: column;
    text-decoration: overline;
}

.meetings{
    text-decoration: line-through;
}


main, footer{
    padding: 1em 1em 1em 1em;;
    text-align: center;
}

nav{
    padding-left: 40px;
}

main{
    margin-left: 1em;
}

footer {
    padding-top: 5%;
}

li{
    margin: auto;
    color: #494949;
}

p{
    color: rgb(109, 109, 109)
}

section{
    margin: auto;
}

div {
    padding: 1em 1em 1em 1em;
    text-align:center;
}
div:hover{
    text-decoration: line-through;
}

strong{
    text-decoration: underline;
    position: fixed;
    margin-left: 10%;
}

audio{
    display: inline-block;
    padding-left: 2vmin;
}

video{
    max-width: 2.5in;
    max-height: 2.5in;
    min-width: 1in;
    min-height: 1in;
    position: relative;
}

form fieldset > input{
 background-color: lightgray;
}

form{
    margin: 5% 5% 5% 5%;
    display: block;
    background-color: rgb(193, 212, 230);
    border-color: lightslategray;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.2vmin;
    height: 30%;
    width: 90%;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: left;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button:active{
    color: red;
}